#siteWrapper{
	display: flex;
	flex-flow: row nowrap;
	width: 100vw;
	height: 100vh;
}

/*----------------------------------------*/
/*----------------------------------------*/
/*TOP ROW OF THE TABLE*/
#header{
	position: sticky;
	background-color: #999999;
	top: 0px;
	z-index: 1;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	border-bottom: 1px solid #dee2e6;
}

/*ALL ROWS OF THE TABLE EXCEPT THE TOP ROW (HEADER)*/
.tableContent{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	border-bottom: 1px solid #dee2e6;
}

/*ALL THE 'CELLS' ON ALL ROWS*/
.innerDivs{
	width: 10%;
	padding-right: 5px;
}

/*ALL CELLS IN THE FIRST TABLE COLUMN*/
.firstColumn{
	position: sticky;
	left: 0px;
	background-color: #999999;
	width: 5%;
	/*border-left: 1px solid #dee2e6;*/
}

/*ALL CELLS IN THE SECOND TABLE COLUMN*/
.secondColumn{
	width: 30%;
	padding-right: 2%;
}

/*ALL CELLS IN THE THIRD TABLE COLUMN*/
.thirdColumn{
	width: 10%;
}

/*DISTRIBUTION CHART COLUMN*/
.distributionColumn{
	width: 100px;
	padding-right: 2%;
	display: flex;
	justify-content: space-around;
}

/*DISTRIBUTION CHARTS*/
.barchart{

}

/*----------------------------------------*/
/*----------------------------------------*/

#menu{
	display: block;
	height: 100vh;
	background-color: #333333;
	position: absolute;
	z-index: 20;
	top: 0px;
	left: 0px;
	transition: all 0.5s;
}

.visibleMenu{
	width: 80vw;
}

.invisibleMenu{
	width: 0px;
}

#contentWrapper{
	display: flex;
	flex-flow: row wrap;
	width: 100vw;
	height: 100vh;
	background-color: #888888;
}

#logoBar{
	display: block;
	width: 100%;
	height: 45px;
	background-color: #CCCCCC;
}

#menuButton{
	width: 40px;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
}

#contentWrapperInner{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	min-height: calc(100vh - 45px);
	max-height: calc(100vh - 45px);
	overflow-y: auto;
}

#content{
	min-height: calc(100% - 105px);
}

#copyright{
	display: block;
	width: 100%;
	height: 65px;
	background-color: #CCCCCC;
	align-self: flex-end;
}

.widget{
	background-color: #999999;
	border-color: #CCCCCC;
	max-height: 80vh;
}

#tableWrapper{
	height: 70vh;
	overflow: auto;
}

table{
	max-height: 70vh !important;
}

@media (min-width: 768px){
	#menu{
		position: relative;
	}

	.visibleMenu{
		width: 20vw;
	}

	#contentWrapper{
		width: 100%;
	}

	#logoBar{
		height: 65px;
	}

	#contentWrapperInner{
		max-height: calc(100vh - 65px);
		min-height: calc(100vh - 65px);
	}

}
