#siteWrapper{
	display: flex;
	flex-flow: row nowrap;
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

#menu{
	display: block;
	height: 100vh;
	background-color: #393939;
	position: absolute;
	z-index: 20;
	top: 0px;
	left: 0px;
	transition: all 0.5s;
	overflow: auto;
}

.visibleMenu{
	width: 80vw;
}

.invisibleMenu{
	width: 0px;
}

#contentWrapper{
	display: flex;
	flex-flow: row wrap;
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF;
}

#logoBar{
	display: flex;
	width: 100%;
	height: 45px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #9d9d9d;
}

#menuButton{
	align-self: center;
	height: 22px;
	width: 34px;
}

#menuButton:hover{
	cursor: pointer;
}

#menuButton span{
	margin-left: 2px;
	width:30px;
	margin-top: 4px; 
	background-color:#005f4b;
	display: block; 
	min-height:2px;
}

#contentWrapperInner{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	min-height: calc(100vh - 45px);
	overflow-y: auto;
}

#content{
	min-height: calc(100% - 105px);
	width: 100%;
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap:10px;
	overflow:auto;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, minmax(max-content, 50px));
}

#evenWrappererContentWrapper{
	padding: 10px;
}

#copyright{
	display: block;
	width: 100%;
	height: 65px;
	background-color: #ffffff;
	align-self: flex-end;
	border-top: 1px solid #9d9d9d;
}

.widget{
	background-color: #999999;
}

.widgetHeader{
	width: 100%;
	background: rgb(247, 247, 247);
	border: 1px solid rgb(195, 195, 195);
	border-bottom: 0px;
	max-height: 40px;
}

.widgetContent{
	width:100%;
	height: calc(100% - 40px);
	background-color: #FFFFFF;
	border: 1px solid rgb(195, 195, 195);
}

.tableWrapper{
	max-height: 70vh;
	overflow:auto;
}

.table thead{
	border-bottom: 1px solid #FFFFFF !important;
}

.btn {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Courier New;
	color: #005f4b;
	font-size: 20px;
	background: #ffffff;
	padding: 10px 20px 10px 20px;
	border: solid #005f4b 2px;
	text-decoration: none;
}

.btn:hover {
	background: #00614a;
	text-decoration: none;
}

@media (min-width: 768px){
	#menu{
		position: relative;
	}

	.visibleMenu{
		width: 20vw;
	}

	#contentWrapper{
		width: 100%;
	}

	#logoBar{
		height: 78px;
	}

	#contentWrapperInner{
		max-height: calc(100vh - 78px);
		min-height: calc(100vh - 78px);
	}

	#content{
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(10, 100px);
	}

}
