#widget1{
	grid-row: 1/ 5;
	grid-column: 1 /10;
}
#widget2{
	grid-row: 5/ 9;
	grid-column: 1 /10;
}
#widget3{
	grid-row: 9/ 15;
	grid-column: 1 / 5;
}

#widget4{
	grid-row: 9/ 15;
	grid-column: 9/10;
}

#content{
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 100px);
}

@media (min-width: 768px){
	#widget1{
		grid-row: 1/ 5;
		grid-column: 1 / 5;
	}
	#widget2{
		grid-row: 1/ 5;
		grid-column: 5/ 8;
	}
	#widget3{
		grid-row: 5/10;
		grid-column: 1 / 3;
	}

	#widget4{
		grid-row: 1/6;
		grid-column: 8/9;
	}

	#content{
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(12, 100px);
	}
}

/*MOCK UP SETTINGS - REMOVE LATER*/
#EEMock{
	margin-top: 50px;
	margin-left: 50px;
}
#EEFMock{
	margin-left: 50px;
	margin-top: 40px;
	margin-right: 78px;
}
#TopDimensions{
	margin-top: 30px;
}

#Tier1{

}

@media (min-width: 768px){
	#EEMock{
		margin-top: 50px;
		margin-left: 50px;
	}
	#EEFMock{
		margin-left: 15px;
		margin-top: 40px;
		margin-right: 0px;
	}
	#TopDimensions{
		margin-left: 35px;
		margin-right: 0px;
		height: 80%;
	}
}
